/* ++ Базовые стили ++ */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 19px 39px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.slide-item-btn {

}

.btn-color-red {
  color: #ffffff;
  background-color: #fb565a;
}

.btn-color-red:hover,
.btn-color-red:focus {
  background-color: #e74246;
}

.btn-color-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.btn-color-green {
  color: #ffffff;
  background-color: #00ca74;
}

.btn-color-green:hover,
.btn-color-green:focus {
  background-color: #00bc6c;
}

.btn-color-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.btn-color-yellow {
  color: #ffffff;
  background-color: #efc84a;
}

.btn-color-yellow:hover,
.btn-color-yellow:focus {
  background-color: #eab534;
}

.btn-color-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

/* -- Базовые стили -- */

/* ++ Шапка сайта ++ */

.main-header {
  padding-top: 49px;
  padding-bottom: 15px;
  background-color: #eeeeee;
}

.main-header-logo {
  padding-right: 20px;
}

.main-header-logo img {
  display: block;
  width: 160px;
  height: 65px;
}
.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 800px;
  margin-left: auto;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

.site-navigation-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 900px;
  align-items: center;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 640px;
  padding-left: 0;
  margin: 0;
}

.site-navigation-item {
  padding-right: 47px;
}

.site-navigation a,
.basket a {
  color: #000000;
  font-weight: bold;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket {
  padding-left: 26px;
  position: relative;
}

.basket::before {
  content: url("../img/cart-icon.svg");
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
/*-Шапка сайта*/
/* + Слайдер*/
.slider {
  position: relative;
  background-color: #eeeeee;
}
.slider-control {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-control label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-control label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slide-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slide-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#slide-one-btn:checked ~ .slider-list .slide-item:nth-child(1) {
  display: block;
}
#slide-two-btn:checked ~ .slider-list .slide-item:nth-child(2) {
  display: block;
}
#slide-three-btn:checked ~ .slider-list .slide-item:nth-child(3) {
  display: block;
}
#slide-one-btn:checked ~ .slide-control .slide-control-item-one::before,
#slide-two-btn:checked ~ .slide-control .slide-control-item-two::before,
#slide-three-btn:checked ~ .slide-control .slide-control-item-three::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slide-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slide-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}


/* - Слайдер*/
/* + Раздел услуги*/
.services {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid black;
}

.services h3 {
  text-transform: uppercase;
}
.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.services-item {
  flex-grow: 1;
  width: 300px;
  margin: 10px;
}

/* -- Раздел услуги -- */

/* ++ О нас ++ */
.about {
  display: flex;
  max-width: 1200px;
}

.about-wrapper {
  display: flex;
  flex-grow: 1;
}

.about-left-col {
  margin-left: 41px;
  width: 670px;
}
.about-left-col span {
  font-size: 45px;
  line-height: 45px;

}

.about-left-col p {
  font-size: 16px;
  line-height: 24px;
}
.about-left-col b {
  text-transform: uppercase;
}

.about-table tbody {
  display: flex;
  flex-direction: column;
}
.row-one {
  order: 1;
}
.row-two {
  order: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 10px;
  margin: 20px;
  text-align: center;
}


/* -- О нас -- */

/* ++ Раздел клиенты ++ */
.clients img {
  opacity: 0.2;
}
.clients img:hover,
.clients img:focus {
  opacity: 1;
}
.clients img:active {
  opacity: 0.1;
}
.clients-wrapper img {
  padding-left: 50px;

}
.clients-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
/* -- Раздел клиенты -- */

/* ++ Контакты ++ */
.contacts-container {
  width: 319px;
  height: 308px;
  margin-left: 140px;

}
.contacts-container p {
  color: #666666;

}

.map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.contacts iframe {
  position: relative;
  z-index: 2;
  border: none;
}

/* -- Контакты -- */

/* ++ Раздел социальные сети ++ */
.social-list {
  display: flex;
  list-style: none;

}
.btn-social {
  display: inline-block;
  width: 69px;
  height: 69px;
  background-color: #e1e1e1;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 0;
}

.btn-social:hover,
.btn-social:focus {
  background-color: #e74246;
}

.btn-social:active {
  background-color: #d7373b;
}


.btn-social-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.btn-social-fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}
.btn-social-insta {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.footer-social {
  display: flex;
}

.footer-promo {
  width: auto;
}
/* -- Раздел социальные сети -- */

/* ++ Модальное окно ++ */
.modal {
  display: none;
  position: fixed;
  color: #000000;
  background-color: #f8f3f0;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);

}

.write-us {
  top: 170px;
  left: 120px;
  width: 960px;
  height: 590px;

}

.modal-close {
  position: absolute;
  top: 79px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #fb565a;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
  margin-top: 73px;
  margin-left: 101px;

  font-size: 45px;
  line-height: 45px;
}

.write-us-item {
  margin-top: 10px;
  margin-left: 101px;
}
.form-write-us input[type="text"],
.form-write-us input[type="email"] {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;

  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}
/* ++ Стили для сетки каталога ++  */

.catalog {
  display: flex;
}

.filter {
  margin-left: 139px;
  margin-right: 139px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  border: none;
}

.filter legend {
  margin-bottom: 27px;
  font-size: 17px;
  font-weight: bold;
  line-height: 31px;
  text-transform: uppercase;
}

.filter fieldset:first-child {
  margin-bottom: 27px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-check + label::before {
  content: "";
  position: absolute;

  width: 16px;
  height: 16px;

  left: -42px;
  top: 0;

  border: 2px solid #000000;
}


/* -- Стили для сетки каталога -- */

/* ++ Каталог. Форма. Фильтр стоимости ++ */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/* -- Каталог. Форма. Фильтр стоимости -- *

/* ++ Каталог. Форма. Фильтр сетки ++ */

.filter-grid {
  display: flex;
  flex-direction: column;
}


/* -- Каталог. Форма. Фильтр сетки -- */

/* ++ Каталог. Форма. Фильтр особенности ++ */


/* -- Каталог. Форма. Фильтр особенности -- */

.filter-features {
  display: flex;
  flex-direction: column;
}


/* ++ Каталог. Карточки проектов ++  */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.catalog-item {
  flex-grow: 1;
}

/* -- Катало. Карточки проектов --  */
